.imageSlider {
  position: relative;
  height: 369px;
  width: 100%;
}

.imageSlider-content {
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0px 0px 0px 10px;
}

.imageSlider-content-item {
  display: none;
  font-size: 14px;
  white-space: normal;
  height: 369px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1049px) {
  .imageSlider-content {
    border-radius: 0;
  }
}
@media only screen and (max-width: 750px) {
  .imageSlider {
    display: none;
  }
  .imageSlider-content-item {
    height: 0px;
  }
}
.imageSlider-content-item_active {
  display: inline-block;
}
.imageSlider-content-item_prepare {
  display: inline-block;
}
.imageSlider-content-item-title {
  font-family: 'IntroCondBlackFree', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  text-shadow: 0px 1px 30px rgba(0, 0, 0, 0.61);
  padding-top: 42px;
  padding-bottom: 13px;
}
@media only screen and (max-width: 750px) {
  .imageSlider-content-item-title {
    font-size: 24px;
    line-height: 30px;
    padding-top: 30px;
  }
}
@media only screen and (max-width: 550px) {
  .imageSlider-content-item-title {
    font-size: 18px;
    line-height: 22px;
    padding-top: 20px;
  }
}
.imageSlider-content-item-subtitle {
  font-family: 'IntroCondBlackFree', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  text-shadow: 0px 1px 30px rgba(0, 0, 0, 0.61);
  padding-bottom: 50px;
}
@media only screen and (max-width: 750px) {
  .imageSlider-content-item-subtitle {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .imageSlider-content-item-subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
  }
}
.imageSlider-content-item-button {
  border-radius: 4px;
  border: 0px;
  display: inline-block;
  background-color: #ffbb05;
  background: -webkit-linear-gradient(90deg, #fbaa08 0, #ffbb05 100%);
  background: -moz-linear-gradient(90deg, #fbaa08 0, #ffbb05 100%);
  background: -ms-linear-gradient(90deg, #fbaa08 0, #ffbb05 100%);
  background: -o-linear-gradient(90deg, #fbaa08 0, #ffbb05 100%);
  background: linear-gradient(0deg, #fbaa08 0, #ffbb05 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
  -webkit-box-shadow: inset 0px -3px 0px 0px #a86300;
  -moz-box-shadow: inset 0px -3px 0px 0px #a86300;
  box-shadow: inset 0px -3px 0px 0px #a86300;
  margin: 294px 50px 0px 50px;
}
.imageSlider-content-item-button:hover {
  background-color: #ffdc8f;
  background: -webkit-linear-gradient(90deg, #ffd289 0, #ffdc8f 100%);
  background: -moz-linear-gradient(90deg, #ffd289 0, #ffdc8f 100%);
  background: -ms-linear-gradient(90deg, #ffd289 0, #ffdc8f 100%);
  background: -o-linear-gradient(90deg, #ffd289 0, #ffdc8f 100%);
  background: linear-gradient(0deg, #ffd289 0, #ffdc8f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
  -webkit-box-shadow: inset 0 -3px 0 0 #e0b37d;
  -moz-box-shadow: inset 0 -3px 0 0 #e0b37d;
  box-shadow: inset 0 -3px 0 0 #e0b37d;
}
.imageSlider-content-item-button a {
  font-size: 14px;
  height: 45px;
  display: inline-block;
  text-transform: uppercase;
  color: #904D00;
  padding: 10px 40px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.imageSlider-content-item-button a:hover {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #CA9342;
}
.imageSlider-navigation {
  display: block;
  position: relative;
  text-align: center;
  bottom: 30px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .imageSlider-navigation {
    bottom: 15px;
  }
}
@media only screen and (max-width: 350px) {
  .imageSlider-navigation {
    bottom: 10px;
  }
}
.imageSlider-navigation-item {
  display: inline-block;
  background-color: #719EB2;
  width: 15px;
  height: 15px;
  margin-right: 13px;
  border: 2px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 2, 0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 2, 0.75);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 2, 0.75);
}
@media only screen and (max-width: 350px) {
  .imageSlider-navigation-item {
    width: 12px;
    height: 12px;
  }
}
.imageSlider-navigation-item_active {
  background-color: #E38C00;
}
.imageSlider-navigation-item:last-child {
  margin-right: 0px;
}
@media only screen and (max-width: 900px) {
  .imageSlider {
    height: 100%;
  }
  .imageSlider-content {
    height: 100%;
  }
  .imageSlider-content-item {
    background-size: contain;
    height: 100%;
  }
  .imageSlider-content-item-button {
    margin: 35% 50px 10px 50px;
  }
  .imageSlider-navigation {
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}