body {
  font-family: 'Noto Sans', sans-serif !important;
  color: #000 !important;
  padding-top: 20px !important;
  padding-bottom: 0;
}

footer.jumbotron {
  margin-bottom: 0;
}

.field-search-search {
  margin-bottom: 0;
}

.list-group-item {
  cursor: pointer;
}

.navbar .container {
  align-items: baseline;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.field-searchmodel-search {
  margin-bottom: 0px;
}

ul.auth-clients {
  padding-left: 0px;
}

/*---------------------megamenu---------------------*/
.megamenu > .dropdown-menu {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

@media screen and (min-width: 992px) {
  .megamenu > .dropdown-menu {
    min-width: 930px;
  }
}

@media screen and (min-width: 1200px) {
  .megamenu > .dropdown-menu {
    min-width: 1110px;
  }
}

/*---------------------demo-trailer---------------------*/
.demo-trailer {
  background: url("/images/demo-trailer.png") no-repeat;
  background-size: 688px 268px;
  display: block;
  width: 688px;
  height: 268px;
}

/*---------------------btn-circle---------------------*/
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

/*---------------------carousel-item---------------------*/
#mainCarousel {
  margin-top: -15px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel .carousel-indicators li {
  background-color: #888;
}
.carousel .carousel-indicators li.active {
  background-color: #000;
}

.carousel-item-bg {
  background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

/*---------------------counter---------------------*/
.counter {
  text-align: center;
}

.counter-count {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  color: #000000;
  text-align: center;
  display: inline-block;
}

/*---------------------producer card---------------------*/
.producer-card {
  height: 100px;
  background-repeat: no-repeat; 
  background-position: center;
}

/*---------------------category card---------------------*/
.category-card {
  height: 150px;
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: right 5% bottom 25%;
}