body {
  font-family: 'Noto Sans', sans-serif !important;
  color: #000 !important;
  padding-top: 20px !important;
  padding-bottom: 0;
}

footer.jumbotron {
  margin-bottom: 0;
}

.field-search-search {
  margin-bottom: 0;
}