.trailer-image-line {
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 2px dashed #333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trailer-image-line._vertical {
    border-right: 2px dashed #333;
    border-bottom: none;
}

.trailer-image-dot {
    color: #000;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    line-height: 22px;
    border: 2px solid #000;
    cursor: auto;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trailer-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}

.trailer-scheme {
    /*margin-top: 20px;*/
    display: table;
    width: 100%;
}

.trailer-content {
    display: flex;
    justify-content: space-between;
}

.trailer-rigth-panel {
    /*font-size: 14px;*/
    display: table-cell;
    width: 198px;
    vertical-align: top;
}

.trailer-content-item a {
    display: block;
    color: #337ab7;
    cursor: pointer;
}

.trailer-content-item a:hover {
    color: #23527c;
}

.trailer-content-item a:hover .trailer-content-item-image {
    border: 3px solid #00ADE7;
    background-size: contain;
}

.trailer-content-item a:hover .trailer-content-item-text {
    color: #23527c;
}

.trailer-content-item a .trailer-content-item-number {
    display: block;
    color: #fff;
    height: 24px;
    width: 24px;
    position: absolute;
    /*top: -10px;*/
    /*left: -10px;*/
    background-color: #edbc00;
    border-radius: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    border: 2px solid #fff;
}

.trailer-content-item a .trailer-content-item-number._number2 {
    background-color: #9dcb09;
}

.trailer-content-item a .trailer-content-item-number._number3 {
    background-color: #0accb2;
}

.trailer-content-item a .trailer-content-item-number._number4 {
    background-color: #068fb9;
}

.trailer-content-item a .trailer-content-item-number._number5 {
    background-color: #890dc3;
}

.trailer-content-item a .trailer-content-item-number._number6 {
    background-color: #dc4f79;
}

.trailer-content-item a .trailer-content-item-number._number7 {
    background-color: #f6780a;
}

.trailer-content-item a .trailer-content-item-number._number8 {
    background-color: #4839de;
}

.trailer-content-item a .trailer-content-item-number._number9 {
    background-color: #9dcb09;
}
.trailer-content-item a .trailer-content-item-number._number10 {
    background-color: #0accb2;
}

.trailer-content-item a .trailer-content-item-number._number11 {
    background-color: #068fb9;
}

.trailer-content-item a .trailer-content-item-number._number12 {
    background-color: #890dc3;
}

.trailer-content-item a .trailer-content-item-number._number13 {
    background-color: #dc4f79;
}

.trailer-content-item a .trailer-content-item-number._number14 {
    background-color: #f6780a;
}

.trailer-content-item a .trailer-content-item-number._number15 {
    background-color: #4839de;
}

.trailer-content-item a .trailer-content-item-image {
    width: 210px;
    height: 92px;
    display: table-cell;
    vertical-align: middle;
    border: 3px solid transparent;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.trailer-content-item-text {
    text-align: center;
}

.trailer-content-item._selected .trailer-content-item-image {
    border: 3px solid #00ADE7;
    background: #00ADE7 !important;
  }